<h1>Courses</h1>

<p> Name: <%= @course.name %> </p>
<p> Instructor: <%= @course.instructor %> </p>
<p> Price: $ <%= @course.price %> </p>
<p> Member price: <%= @course.premiumPrice %> </p>
<p> Description: <%= @course.description %> </p>
</br>
